.about{
    /* background-color: antiquewhite; */
    /* color: black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 10%;

    /* gap: 1em; */
    flex-direction: column;
    height: calc(100% - 76px);
    width: 100%;
    text-align: center;
    flex-shrink: 0;
}
  
.about button{
    top: 5vh;
}

@media screen and (max-width: 1280px) {
    .about{
        justify-content: center;
        padding-bottom: 20%;
        width: 90%;
    }

}


